.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.full-w, .full {
  width: 100%;
}

.full-h, .full {
  height: 100%;
}