* {
  box-sizing: border-box;
}

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

[hidden] {
  display: none;
  opacity: 0;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.full-w, .full {
  width: 100%;
}

.full-h, .full {
  height: 100%;
}